@page "/counter"
@using System.Timers

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    private System.Timers.Timer _timer;

    private void IncrementCount()
    {
        //currentCount++;
        _timer = new System.Timers.Timer(500);
    // Hook up the Elapsed event for the timer. 
        _timer.Elapsed += OnTimedEvent;
        _timer.AutoReset = true;
        _timer.Enabled = true;
    }

    private void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        currentCount++;
        InvokeAsync(StateHasChanged);
    }

}
